*,*:after,*:before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family:  poppins;
  /* font-size: 10px; */
 }
.App{
  max-width: 1250px;
  margin: 0 auto;
  width: 95%;
}

button:hover{
  cursor: pointer;
}
 .firstHeader{
  position: relative;
  margin: 2.5rem 0;
  padding-bottom: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #EAECF0;

 }
.numberTwo{
  position: absolute;
  top: 27px;
  right: -11px;
  text-align: center;
  height: 20px;
  width: 20px;
  color: #FFFFFF;
  font-size: .8rem;
  background-color: red;
  border-radius: 50%;
  line-height: 25px;
  display: block;
}

 .banner{
  position: relative;
  border: 1px solid #EAECF0;
  padding: 1rem;
  border-radius: 12px;
  margin: 2rem 0;
 }

 .Bg{
  position: relative;
  background: linear-gradient(to right, blueviolet, #ed8f50);
  height: 192px;
  /* left: -112px; */
  top: 0px;
  padding: 2rem;
  border-radius: 12px;
 }

.bigCircle{
  text-align: center;
  height: 100px;
  width: 100px;
  background-color: #EAECF0;
  border: 4px solid #FFFFFF;
  box-shadow: 0px 12px 16px -4px rgba(16, 24, 40, 0.08), 0px 4px 6px -2px rgba(16, 24, 40, 0.03);
  border-radius: 50%;
  line-height: 100px;
}

.mainBanner{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  position: relative;
  bottom: 30px;
  left: 20px;
}

.mainBannerFlex{
  display: flex;
  justify-content: center;
  align-items: center;
}

.mainBannerFlex .smallLi{
  font-size: .7rem;
  font-weight: 500;
  line-height: 20px;
  position: relative;
  top: 30px;
  right: 290px;
  display: flex;
}

.mainBannerFlex p {
  font-weight: 700;
  margin-left: 1.4rem;
}

.popOne{
  background: #f7e3d8;
  color: #F79009;
  margin-right: .5rem;
  padding: .1rem .5rem .1rem 1.2rem;
  border-radius: 12px;
  position: relative;
}

.popOne:after{
  position: absolute;
  bottom: 10px;
  left: 8px;
  content: '';
  background: #F79009;
  width: 6px;
  height: 6px;
  display: block;
}

.cardOverallBackground{
  margin: 0 auto;
  /* max-width: 1200px; */
  border: 1px solid #EAECF0;

}

.cardHeading{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0;
  margin: 1rem 1rem;
  border-bottom: 1px solid #EAECF0;
}

.feature, .dataTitle, .dataBid span{
  font-weight: 900;
}

.cardHeading button, .mainBanner button{
  outline: 0;
  border: 0;
  height: 50px;
  border: 1px solid #EAECF0;
  background-color: transparent;
  width: 140px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
}

.mainBanner button{
  width: 130px;
  height: 28px;
  font-size: .7rem;
  margin-right: 4rem;
}

.thumbsup{
  margin-right: 10px;
}

.cardBackground{
  padding: 1.5rem;
  gap: 1rem;
  display: grid;
  place-content: center;
  grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
}

.mainCard{
  height: 340px;
}
.card {
  /* height: 340px; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
  border: 1px solid #EAECF0;
  border-radius: 12px;
  padding: .5rem
}

.imgBackground{
  background-color: #F2F4F7;
  border-radius: 12px;
  text-align: center;
  padding: 1.5rem;
}
.dataImage{
  background: #333;
  margin-bottom: .3rem;
  height: 100px;
  width: 100px;
}

.dataName{
  font-size: .6rem;
  margin: .7rem 0;
}

.dataName span{
  display: flex;
  justify-content: center;
  align-items: center;
}
.ko{
  text-align: center;
  height: 25px;
  width: 25px;
  background-color: #bbb;
  border-radius: 50%;
  line-height: 25px;
}

.koray{
  display: flex;
  flex: 1;
}

.bidder{
  display: flex;
  flex: 1;
}
.dataTitle{
  font-size: .7rem;
  margin: .4rem 0;
  /* width: 100px; */
  height: 30px;
}
.dataBid{
  margin: .3rem 0 ;
  font-size: .6rem;
  border-bottom: 1px solid #EAECF0;
  margin: .5rem 0;
  padding: .5rem 0;
}

.bidder{
  color: #999;
}
.dataButton{
  background: #004CCC;
  border: 1px solid #004CCC;
  color: white;
  border: 0;
  outline: 0;
  width: 100%;
  height: 40px;
  border-radius: 12px;
  font-family: poppins;
}



