*,*:after,*:before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family:  poppins;
  /* font-size: 10px; */
 }
.App{
  max-width: 1250px;
  margin: 0 auto;
}
 .firstHeader{
  margin: 2.5rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #EAECF0;

 }

 .banner{
  position: relative;
  border: 1px solid #EAECF0;
  padding: 1rem;
  border-radius: 12px;
  margin: 2rem 0;
 }

 .Bg{
  background: #999;
 }

.bigCircle{
  text-align: center;
  height: 150px;
  width: 150px;
  background-color: blue;
  border-radius: 50%;
  line-height: 150px;
}

.mainBanner{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}

.cardOverallBackground{
  margin: 0 auto;
  /* max-width: 1200px; */
  border: 1px solid #EAECF0;

}

.cardHeading{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0;
  margin: 1rem 1rem;
  border-bottom: 1px solid #EAECF0;
}

.feature, .dataTitle, .dataBid{
  font-weight: 900;
}

.cardHeading button, .mainBanner button{
  outline: 0;
  border: 0;
  height: 50px;
  border: 1px solid #EAECF0;
  background-color: transparent;
  width: 140px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
}
.thumbsup{
  margin-right: 10px;
}

.cardBackground{
  padding: 1.5rem;
  gap: 1rem;
  display: grid;
  place-content: center;
  grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
}

.mainCard{
  height: 340px;
}
.card {
  /* height: 340px; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
  border: 1px solid #EAECF0;
  border-radius: 12px;
  padding: .5rem
}

.imgBackground{
  background-color: #bbb;
  text-align: center;
  padding: 1.5rem;
}
.dataImage{
  background: #333;
  margin-bottom: .3rem;
  height: 100px;
  width: 100px;
}

.dataName{
  font-size: .6rem;
}

.dataName span{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.ko{
  text-align: center;
  height: 25px;
  width: 25px;
  background-color: #bbb;
  border-radius: 50%;
  line-height: 25px;
}
.dataTitle{
  font-size: .7rem;
  margin: .4rem 0;
  /* width: 100px; */
  height: 30px;
}
.dataBid{
  margin: .3rem 0 ;
  font-size: .6rem;
  border-bottom: 1px solid #EAECF0;
  margin: .5rem 0;
  padding: .5rem 0;
}

.bidder{
  color: #999;
}
.dataButton{
  background-color: rgb(30, 30, 193);
  color: white;
  border: 0;
  outline: 0;
  width: 100%;
  height: 40px;
  border-radius: 12px;
  font-family: poppins;
}



